/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/04/2015, 09:26:23 PM
    Author     : Ivan
*/

.caption{
    font-family: Aria;
    color: royalblue;
    
}

.header{
    font-family: Times New Roman;
    text-align: center;
}

.pie{
    font-family: AR CARTER;
    color: blueviolet;
}
.impar{
    height: 25px;
    background: palevioletred;
    
}
.par{
    text-align: center;
    background: darkgreen;
}

.alerta{
    color: red;
    font-size: 25px;
}