<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msjs.indexTitulo}</title>        
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msjs.indexTitulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/cueva/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                <ui:include src="secciones/cueva/ladoIzq.xhtml"/>
            </ui:define>
            <ui:define name="contenido">
                <h:form>
                    <h:dataTable value="#{cuate.listaCuates}" var="cuates" styleClass="table" rowClasses="impar,par"
                                 captionClass="caption">

                        <f:facet name="caption">#{msjs.indexTitulo}</f:facet>

                        <h:column headerClass="header" footerClass="pie">
                            <f:facet name="header">#{msjs.headerColumna1}</f:facet>
                                #{cuates.apellidos}
                            <f:facet name="footer">#{msjs.pieColumna1}</f:facet>
                        </h:column>

                        <h:column headerClass="header" footerClass="pie">
                            <f:facet name="header">#{msjs.headerColumna2}</f:facet>
                                #{cuates.nombres}
                            <f:facet name="footer">#{msjs.pieColumna2}</f:facet>
                        </h:column>                

                        <h:column headerClass="header" footerClass="pie">
                            <f:facet name="header">#{msjs.headerColumna3}</f:facet>
                                #{cuates.cuotas}
                            <f:facet name="footer">#{msjs.pieColumna3}</f:facet>
                        </h:column>        

                    </h:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>       
    </h:body>
</html>

