<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msjs.indexlogin}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml" />
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="secciones/login/ladoIzq.xhtml" />
            </ui:define>
            <ui:define name="contenido">
                
               
        <div align="center">
            <h:panelGrid columns="1">
        <h1>Bienvenidos a la cueva de puros Cuates</h1>
        <hr/>
        <h:form>
            <h:panelGroup>
            <h:outputLabel value="Usuario">
                <h:inputText value="#{cuate.user}"/>
            </h:outputLabel>
                <br/>
            <h:outputLabel value="Contraseña">
                <h:inputSecret value="#{cuate.password}"/>
            </h:outputLabel>
                </h:panelGroup>
            <h:commandButton value="Ingresar" action="#{cuate.pagoCuotas()}"/>
        </h:form>
        </h:panelGrid>
        </div>
        </ui:define>
        </ui:composition>
    </h:body>
</html>
















